*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
/* header */
.headerlinks {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link{
  text-decoration: none;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  color: black;
}
.active {
  background: black;
  color: white;
}